.cardLink {
  width: 200px;
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(230px - 1rem) !important;
  margin-right: 1rem !important;
}
.addToFavBtn {
  position: absolute;
  top: 20px;
  background-color: #0c0f14ab;
  width: 38px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  z-index: 100;
  cursor: pointer;
  border: none;
}
.cardInfo {
  background-color: var(--blue3);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px;
  border-radius: 4px;
  max-width: 200px;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.icon {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 24px;
  height: 24px;
}
.opened {
  pointer-events: all;
  animation-name: bounce;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
.closed {
  pointer-events: none;
  transform: scale(0);
}
