.sliderContainer {
  position: relative;
  overflow-x: hidden;
}
.slider {
  display: grid;
  grid-gap: 40px;
  grid-auto-flow: column;
  transition: transform 0.4s ease;
}
.sliderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.seeAll {
  margin-bottom: 2rem;
}
.arrowBtn {
  background-color: #0c0f14ce;
  width: 40px;
  height: 80px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  position: absolute;
  top: 45%;
  cursor: pointer;
  z-index: 50;
}
.leftBtn {
  left: 0;
}
.rightBtn {
  right: 0;
}

@media only screen and (max-width: 500px) {
  .cardMobile {
    width: calc(200px - 1rem) !important;
    margin-right: 1rem !important;
  }
}
