.review {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--blue3);
  padding: 1.5rem 2rem;
  border-radius: 18px;
  text-overflow: ellipsis;
}
.user {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}
.avatar {
  border-radius: 100px;
  margin-right: 1rem;
}
.content {
  font-size: 0.7rem;
  word-break: break-all;
}
